.imgarticle {
    width: 102%;
    margin-top: 20px;
    margin-bottom: 20px
}


.titrearticle{
    font-family: 'Abril Fatface', sans-serif;
    color: #D05270
}

.contenuarticle {
    text-align: justify;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
    width: 98%;

}

h2, h3 {
    color: #3A0DA3;
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 15px
}