#conteneurbody {
    display: grid;
    height: 80vh;
    grid-template-areas: "a b"
                         "a b"
                         "a b";
                         grid-template-columns: 50% 50%;
                         gap: 20px;
                         margin-top: 50px;
  }

  .pinkMac{
    grid-area: a;
    width: 100%;
  }

  .darkMac {
    grid-area: b;
    width: 100%;
    height: 437px;
  }

  .p1{
    font-size: small;
    font-weight: bold;
  }

  .lien{
    font-size: large;
    font-weight: bolder;
    color: #D05270;
    text-decoration: none;
  }

  .p3{
    font-size: small;
  }

  .p4 {
    font-size: small;
    font-weight: bold;
    color: #D05270;
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
  }
  .p4:before{
      content: "";
      position: absolute;
      width: 75%;
      height: 1px;
      bottom: 0;
      left: 0%;
      border-bottom: 1px solid #D05270;
  }