/* mise en place de la police et du margin pour le body */

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
    margin-right: 20%;
}

/* mise en place de la barre de navigation avec le logo  */

.logo {
    width: 120px;
    margin-left: -20px;
}

#conteneurheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#conteneurnav {
    display: flex;
    gap: 20px;
}

nav a  {
    color: gray;
    text-decoration: none;
    font-size: 9px;
    font-weight:400;
}

nav a:hover {
    color: #6957B2;
    font-weight: 800;
}

/* mise en beauté de l'onglet avec illustration  */

.h1accueil {
    font-family: 'Abril Fatface', sans-serif;
    color: #D05270;
    font-weight: 100;
}

.lorem {
    font-size: xx-large;
    margin-top: -10px;
    font-weight: bold;
}

.pentete {
    font-size: 12px;
    margin-bottom: 30px;
    max-width: 410px;
}

/* mise en place des boutons de réseaux sociaux  */

.btntwitter {
    background-color: #47ACDF;
    text-decoration: none;
    color: white;
    font-size: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 124px;
    text-align: center;
    border: 1px #47ACDF solid;
}

.btntwitter3{
    display: none;
}

.btnlinkedin {
    background-color: #1275B1;
    text-decoration: none;
    color: white;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 124px; 
    text-align: center;
    border: 1px #1275B1 solid;
}

.btnlinkedin3{
    display:none;
}

.btnmedium {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 124px;  
    text-align: center;
    border: 1px black solid;
}

.btnmedium3 {
    display: none;
}

a img {
    width: 11px;
    margin-right: 20px;
}

.illustration {
    width: 260px
}

#conteneurbouttons {
    display: flex;
    gap: 12px;
    margin: 0px
}

#conteneurinterne {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#conteneurentete {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-weight: 200;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 850px;
}

.apropos {
    color:#D05270;
    font-weight: 800;
}

.btntwitter:hover {
    background-color: white;
    color: #47ACDF;
    border: 1px #47ACDF solid;

}

.btntwitter:hover .btntwitter2 {
    display:none; 
}

.btntwitter:hover .btntwitter3{
    display:inline-block;
}


.btnlinkedin:hover {
    background-color: white;
    color: #1275B1;
    border: 1px #1275B1 solid;

}

.btnlinkedin:hover .btnlinkedin2 {
    display:none; 
}

.btnlinkedin:hover .btnlinkedin3{
    display:inline-block;
}


.btnmedium:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}

.btnmedium:hover .btnmedium2 {
    display:none; 
}

.btnmedium:hover .btnmedium3{
    display:inline-block;
}

/* gif pour la page en construction cv */

.gif {
    width: 500px;
    padding-left: 15%
}

/* mise en place du bouton retour en haut */

html { scroll-behavior: smooth; }

.fleche {
    background-color: #D05270;
    color: white;
    font-size: 30px;
    padding: 1px 9px 1px 9px;
    border-radius:  40px;
    margin-bottom: 20px;
}

#footer a {
    text-decoration: none;
    display: flex;
    flex-flow: row-reverse;
}